{
    "bridge": {
        "name": "Homebridge",
        "username": "your_device_MAC_address_in_upper_letters",
        "port": 51826,
        "pin": "031-45-154"
    },

    "description": "This is an example configuration file with one fake accessory and one fake platform. You can use this as a template for creating your own configuration file containing devices you actually own.",

    "accessories": [
    ],

    "platforms": [
    	{
      	    "platform": "Fritz!Box",
            "name": "FRITZ!Box",
            "username": "homebridge",
            "password": "somepassword",
            "url": "http://fritz.box",
            "interval": 30,
            "options": {
                "strictSSL": false
            }
        }
    ]
}

